<div class="btn-group btn-link btnz">
    <a href='#lightswitch' class='top-btn'>ABOUT</a>
    <a href='#projects' class='top-btn'>PROJECTS</a>
    <a href='#contact' class='top-btn'>CONTACT</a>
</div>


<div class="clr-row clr-align-items-center" style='margin-top: 15%' id="lightswitch">
    <div class="clr-col-4 clr-offset-1">
        <h1 class='greet night'>Hi,</h1>
        <h1 class='greet night'>I'm Jeremy.</h1>
        <p class='greet-msg night'>I'm a web developer. Check out my cool projects or maybe just take my word on it.</p>
    </div>

    <div class="clr-col-1 clr-offset-5">
        <button class="btn" id="switch" (click)='switchLight()'>Light Mode</button>
    </div>
    <!--
    <div class="clr-col-3 clr-offset-1" id="lightSwitch" id='about'>
        <h1 class='greet night'>Hi,</h1>
        <h1 class='greet night'>I'm Jeremy.</h1>
        <p class='greet-msg night'>I'm a web developer. Check out my cool projects or maybe just take my word on it.</p>
    </div>

    <div class="clr-col-1 clr-offset-6">
        <button class="btn" id="switch" (click)='switchLight()'>Light Mode</button>
    </div>
    -->
</div>

<div class="clr-row clr-justify-content-center" style="margin-top: 15%; padding: 30px" id='projects'>
    <h1 class='clr-col-12 night' style='text-align: center; font-weight: bold'>PROJECTS</h1>
</div>

<div class="clr-row clr-justify-content-center" style="padding: 4em">
  <p class="clr-col-4 clr-align-self-center project-p">This one's an app that might blow ya wig back</p>
  <div class="clr-col-4 card clickable">
      <div class="card-header">
          Talkman App
      </div>
      <div class="card-img">
          <img src="../assets/talkman-1.PNG">
      </div>
      <div class="card-footer">
          <a href="https://talkman-pro.herokuapp.com/" class="btn btn-sm btn-link">see demo</a>
          <a href="https://github.com/digitalkyopo/ionic-capture-store" class="btn btn-sm btn-link">github</a>
      </div>
  </div>
</div>

<div class="clr-row clr-justify-content-center" style="padding: 4em">
  <p class="clr-col-4 clr-align-self-center project-p">This one's an app that might make ya fingers snap</p>
  <div class="clr-col-4 card clickable">
      <div class="card-header">
          The Breadcrumbs App
      </div>
      <div class="card-img">
        <img src="../assets/bc-1.PNG">
      </div>
      <div class="card-footer">
          <a href="https://the-breadcrumbs-app.herokuapp.com/" class="btn btn-sm btn-link">see demo</a>
          <a href="https://github.com/digitalkyopo/ionic-final-project" class="btn btn-sm btn-link">github</a>
      </div>
  </div>
</div>

<div class="clr-row clr-justify-content-center" style="padding: 4em">
  <p class="clr-col-4 clr-align-self-center project-p">This one's an app that might make ya butt crack</p>
  <div class="clr-col-4 card clickable">
      <div class="card-header">
          YOLO Stock
      </div>
      <div class="card-img">
        <img src="../assets/yolo-2.PNG">
      </div>
      <div class="card-footer">
          <a href="https://digitalkyopo.github.io/yolo-stock/login" class="btn btn-sm btn-link">see demo</a>
          <a href="https://github.com/digitalkyopo/yolo-stock" class="btn btn-sm btn-link">github</a>
      </div>
  </div>
</div>

<div class="clr-row clr-justify-content-center" style="margin-top: 15%; padding: 30px" id="contact">
    <h1 class='night' style='padding: 30px; font-weight: bold'>CONTACT</h1>
</div>

<div class='clr-row clr-justify-content-center'>
    <form action="https://formspree.io/thk116@gmail.com" method="POST">
        <div style='padding: 10px'>
            <label class='clr-control-label' style='padding: 10px'>NAME</label>
            <input class='clr-input' style='text-align: center; font-size: 18px' size='30' type="text" name="name">
        </div>
        <div style='padding: 10px'>
            <label class='clr-control-label' style='padding: 10px'>EMAIL</label>
            <input class='clr-input' style='text-align: center; font-size: 18px' size='30' type="email" name="_replyto">
        </div>
        <div style='padding: 10px'>
            <label class='clr-control-label' style='padding: 10px'>MESSAGE</label>
            <textarea class='clr-textarea' style='text-align: center; width: 350px; height: 150px; font-size: 18px' size='30' name="message"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="row" style="padding: 10px">
    <div class="clr-col-12" style="margin-top: 15%">
        <p>© 2019 Jeremy Kim, Inc.</p>
    </div>
</div>

<router-outlet></router-outlet>
